<nav>
    <li id="nav-list"><a href="/">Home</a></li>
    <li id="nav-list"><a href="/booksRead">Books</a></li>
    <li id="nav-list"><a href="/new-book">New Book</a></li>
    <li id="nav-list"><a href="/search">Search</a></li>
</nav>