<p>You need an acount to see the books</p>

            <p><a href="/auth/sign-up">Click Here</a> to create a new acount</p>
            <p><a href="/auth/sign-in">Click Here</a> if you already have an acount</p>