<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All the Books</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>All the Books</h1>
    <div id="general-div">
        <% if (user) { %>
         <p>Here is a list of some books I have read, click on any of them to see the details</p>
    <ul>
        <% books.forEach(book => { %>
            <li>
                <a href="/booksRead/<%= book._id %>"><%= book.name %></a>
            </li>   
        <% }) %>
    </ul>
    <% } else{%>
        <%- include('./partials/user-needed') %>
        <% } %>
</div>
</body>
</html>