<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    <%- include('./partials/nav') %>
    <h1> Hello Books 📚</h1>
    <div id="general-div">
    <p>This is a page dedicated to some of the books I have read throughout my life.</p>
    <p>I hope that with time I will be able to add them all, but we will see.  </p>
    <p>Click here to see all the <a href="booksRead">books</a></p>
    <p>Click here to add a <a href="/new-book">new book</a></p>
    </div>
</body>
</html>