<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>You need something specfic?</h1>
    <div id="general-div">
        <p>Try search it in here</p>
        <form action="/searchResults" method="GET">
            <label for="search">Search Here</label>
            <input type="text" name="search" id="search">
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>